body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  width: 50%;
  margin: 60px auto;
  background: lightgrey;
  border-radius: 6px;
}

.feedback-container {
  background: grey;
  text-align: center;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.feedback-text {
  padding: 15px;
}

.guess-container {
  padding: 30px;
}

.guess-container label {
  display: block;
  text-align: center;
}
.guess-container input {
  display: block;
  width: 100%;
}
.guess-container button {
  display: block;
  width: 100%;
}
.guess-container .guess-current_guess {
  text-align: center;
}

.history-container ul {
  list-style: none;
  padding: 0px 60px 30px 60px;
  text-align: center;
}
.history-container ul li {
  display: inline-block;
  margin: 0 10px;
}